/*a {
  color: #00B7FF;
}*/

.post-title {
  margin-bottom: 1rem;
}

.post-subtitle {
  margin-bottom:1.5rem;
  color: #BFBFBF;
}

.post-description {
  margin-top: 1.5rem;
  line-height: 2.8rem;
  word-wrap: break-word;
  text-align:justify;
}

.thumbnail-container img {
  object-fit: cover;
}

/* Opacity #2 */
.hover {
	background: #FFFFFF;
  position:relative;
}

.hover img {
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.hover:hover img {
	opacity: .1;
}

.thumbnail-text {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  text-align: center;
  padding-right: 12px;
  padding-left: 6px;
  padding-top:6px;
}

.thumbnail-text:hover {
	opacity: 1;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.arrow-div {
  position: relative;
  height: 100%;
}

.arrow-span {
  background:green;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
