doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')

  body(ng-app='nasa' class="has-docked-nav")
    br
    br
    br
    nav(class="navbar")
      div(class="container")
        ul(class="navbar-list")
          li(class="navbar-item") 
            a(class="navbar-link") Connect
    div(class="container")
      div(class="row")
          block content
    div(style="height:10rem;")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-route/angular-route.min.js')
    script(src='/javascripts/angularApp.js')
    script(src='/javascripts/services/potdFactory.js')
    script(src='/javascripts/controllers/potdController.js')
    script(src='/javascripts/controllers/homeController.js')
