<div id="homePage">
  <h1 class="post-title" style="text-align:center;margin-bottom:0rem;">Astronomy picture of the day</h1>
  <h6 class="post-subtitle" style="text-align:center;">powered by NASA</h6>
  <div class="row" style="margin-bottom:3.2rem;">
    <div class="twelve columns">
      <div ng-repeat="potd in potdList | orderBy: '-date'">
        <div ng-include="'/views/partials/potdThumbnail.html'"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns" style="text-align:center;">
      <button role="button" class="button-primary" style="width:50%" ng-click="getMorePotds()">More</button>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns" style="text-align:center;">
      <span class="mif-spinner2 mif-ani-spin mif-3x" ng-show="isLoading"></i>
    </div>
  </div>
</div>
<script>
$(function() {
  $(".button-primary").mouseup(function() {
    $(this).blur();
  })
  $(".button").mouseup(function() {
    $(this).blur();
  })
})
</script>
